body {
    background-color: #fff;
}

.guide > p,
.con > p {
    width: 500px;
    height: 80px;
    border: 1px dashed #cc0d01;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    left: 425px;
    color: #128f71;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
}

.guide::after,
.guide::before,
.con::after,
.con::before {
    content: '';
    width: 50px;
    height: 50px;
    border: 1px dashed #cc0d01;
    border-radius: 50%;
    position: absolute;
    top: 90px;
    left: 340px;
}

.guide::after {
    width: 25px;
    height: 25px;
    top: 165px;
    left: 305px;
}

.con > img {
    margin-left: 500px;
}
.con::before {
    top: 300px;
    left: 560px;
}
.con::after {
    width: 25px;
    height: 25px;
    top: 400px;
    left: 600px;
}
.con > p {
    width: 700px;
    top: 185px;
    left: 525px;
}