body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 750px;
    background-image: linear-gradient(120deg, #155799, #159957);
    text-align: center;
}
p {
    color: #fff;
    font-size: 20px;
    margin-top: 200px;
}